@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-5"><h1>LIMA</h1></div>
            <div class="col-sm-3"><h1>PROVINCIA</h1></div>
            <div class="col-sm-4"><h1>GAMERS</h1></div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr>
                            <th style="width: 5%">1 PLAY INTERNET</th>
                            <th style="width: 2%">15 Mb</th>
                            <th style="width: 2%">30 Mb</th>
                            <th style="width: 2%">60 Mb</th>
                            <th style="width: 2%">120 Mb</th>
                            <th style="width: 2%">200 Mb</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info" title="CF Mensual">S/ 65.00</a> </td>
                            @*<td class="table-primary">   <a class="btn btn-primary btn-toggle glyphicon-plus" title="Nuevo caso" href="~/Home/About/@ViewBag.Trabajador.ID"> S/ 85.00</a> </td>*@
                            <td class="table-primary">   <a class="badge badge-info" title="CF Mensual" href="~/Home/About"> S/ 85.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 105.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 120.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 160.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 55.00 </td>
                            <td>S/ 70.00 </td>
                            <td>S/ 90.00 </td>
                            <td>S/ 140.00 </td>
                            <td>S/ 199.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">1 PLAY INTERNET</th><th style="width: 2%">10 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 50.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 50.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">1 PLAY INTERNET</th><th style="width: 2%">80 Mb</th><th style="width: 2%">100 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 125.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 140.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 125.00 </td>
                            <td>S/ 140.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr>
                        <tr>
                            <th style="width: 5%">1 PLAY TELEFONIA</th>
                            <th style="width: 2%">100</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 49.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 49.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr>
                        <tr>
                            <th style="width: 5%">1 PLAY CABLE</th>
                            <th style="width: 2%">HDTV Básico</th>
                            <th style="width: 2%">HDTV Avanzado</th>
                            <th style="width: 2%">HDTV Superior</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 99.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 120.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 170.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 99.00 </td>
                            <td>S/ 120.00 </td>
                            <td>S/ 170.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr>
                        <tr>
                            <th style="width: 5%">2 PLAY</th>
                            <th style="width: 2%">15 Mb</th>
                            <th style="width: 2%">30 Mb</th>
                            <th style="width: 2%">60 Mb</th>
                            <th style="width: 2%">120 Mb</th>
                            <th style="width: 2%">200 Mb</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">CF MENSUAL100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 65.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 80.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 100.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 150.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 210.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 59.00 </td>
                            <td>S/ 69.00 </td>
                            <td>S/ 89.00 </td>
                            <td>S/ 139.00 </td>
                            <td>S/ 189.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">2 PLAY</th><th style="width: 2%">10 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">C.F. MENSUAL 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 60.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 60.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">2 PLAY</th><th style="width: 2%">80 Mb</th><th style="width: 2%">100 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">  C.F. MENSUAL 100  </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 130.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 150.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 130.00 </td>
                            <td>S/ 150.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger table-danger table-danger">
                        <tr>
                        <tr>
                            <th style="width: 5%">3 PLAY</th>
                            <th style="width: 2%">15 Mb</th>
                            <th style="width: 2%">30 Mb</th>
                            <th style="width: 2%">60 Mb</th>
                            <th style="width: 2%">120 Mb</th>
                            <th style="width: 2%">200 Mb</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">HDTV Básico 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 125.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 145.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 165.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 210.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 269.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 109.00 </td>
                            <td>S/ 119.00 </td>
                            <td>S/ 139.00 </td>
                            <td>S/ 179.00 </td>
                            <td>S/ 229.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Avanzado 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 135.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 155.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 175.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 220.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 279.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 119.00 </td>
                            <td>S/ 129.00 </td>
                            <td>S/ 149.00 </td>
                            <td>S/ 189.00 </td>
                            <td>S/ 239.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Superior 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 185.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 205.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 225.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 270.00</a> </td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 329.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning"> C.F. PRIMER MES(Promoción) </td>
                            <td>S/ 169.00 </td>
                            <td>S/ 179.00 </td>
                            <td>S/ 199.00 </td>
                            <td>S/ 239.00 </td>
                            <td>S/ 289.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">3 PLAY</th><th style="width: 2%">10 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">HDTV Básico 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 120.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 120.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Avanzado 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 130.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 130.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Superior 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 180.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción)</td>
                            <td>S/ 180.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4">
                <table class="table table-striped table-sm table-bordered" style="font-size:12px;  overflow: auto;" id="titulo">
                    <thead class="table-danger">
                        <tr><th style="width: 5%">3 PLAY</th><th style="width: 2%">80 Mb</th><th style="width: 2%">100 Mb</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="warning">HDTV Básico 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 190.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 210.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción) </td>
                            <td>S/ 190.00 </td>
                            <td>S/ 210.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Avanzado 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 200.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 220.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción) </td>
                            <td>S/ 200.00 </td>
                            <td>S/ 220.00 </td>
                        </tr>
                        <tr>
                            <td class="warning">HDTV Superior 100</td>
                            <td class="table-primary">  <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">S/ 250.00</a> </td>
                            <td class="table-primary">   <a href="http://192.168.150.41/APPGESTIONHfc/" class="badge badge-info">/ 270.00</a> </td>
                        </tr>
                        <tr>
                            <td class="table-warning">C.F. PRIMER MES (Promoción) </td>
                            <td>S/ 250.00 </td>
                            <td>S/ 270.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <br>
                <button id="botonDeGuardado" class="btn btn-primary ">Guardar</button>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="tablas">


                </div>

                <br><br>
            </div>
        </div>

    </div>
        <script>
            var contador = 1;
            function sacarDatos() {
                var persona = {
                    id: contador++,
                    nombre: $('#nombre').val(),
                    fecha: $('#fechaNacimiento').val()
                }
                $('#nombre').val('');
                $('#fechaNacimiento').val('');
                return persona;
            }
            function agregarPersonaTabla(persona) {
                $('#tablas').append
                    //$('#tablaDePersonas').append
                    (
                    `
                    `
                    );
            }

            $('#botonDeGuardado').click(function () {
                var persona = sacarDatos();
                agregarPersonaTabla(persona);
            });

        </script>
</body>